# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Jan van Hest
	email = jan.vanhest@gmail.com
[init]
	defaultBranch = main
[diff]
    external = git_diff_wrapper

